* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:whitesmoke;
    /*background-attachment:fixed;*/
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    font-family: Calibri, fantasy, serif;
}

@media only screen and (orientation: portrait){
    .logo {
        position: fixed;
        width: 50%;
        left: 25%;
        top: 5%;
        max-width: 500px;
    }

    .log {
        position: fixed;
        width: 50%;
        height: auto;
        left: 25%;
        top: 50%;
        margin-top: 30px;
    }
}
@media only screen and (orientation: landscape ){
    .logo {
        position: fixed;
        width: 20%;
        top: 5%;
        left:40%;
        max-height: 530px;
        min-width: 180px;
    }

    .log {
        position: fixed;
        width: 40%;
        height: auto;
        left: 30%;
        bottom: 5%;
        margin-top: 50px;
    }
}
@media only screen and (orientation: landscape ) and (min-width: 2000px){
    .logo {
        position: fixed;
        width: 10%;
        top: 5%;
        left:45%;
        max-height: 530px;
        min-width: 180px;
    }

    .log {
        position: fixed;
        width: 40%;
        height: auto;
        left: 30%;
        bottom: 5%;
        margin-top: 50px;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.role_div {
    position: absolute;
    top:20%;
    left: 5%;
    border-collapse: collapse;
    border-spacing: 0px;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 20px;
    font-family: Calibri, fantasy, serif;
    text-align: center;
    font-size: 15px;
}
.formButton:hover {
    color: black;
    border-color: black;
}
.formButton {
    font-family: Calibri, fantasy, serif;
    background-color: #DD0000;
    color: whitesmoke;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    width:100%;
    border: 2px whitesmoke solid;
    border-radius: 50px;
    text-align: center;
}

.homeButton:hover {
    color: black;
    border-color: black;
}
.homeButton {
    position: fixed;
    font-family: Calibri, fantasy, serif;
    background-color: #DD0000;
    color: whitesmoke;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    width:30%;
    border: 2px whitesmoke solid;
    border-radius: 50px;
    text-align: center;
    top: 50px;
    left:35%;
    min-width: 120px;
}
.hometext {
    position: fixed;
    width: 30%;
    left: 35%;
    text-align: center;
    min-width: 200px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #DD0000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.roleButton:hover {
    color: whitesmoke;
}
.roleButton {

    text-transform: uppercase;
    background-color: #DD0000;
    color: black;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    width:100%;
    border: none;
}
.sidenav .closebtn:hover{
    color: whitesmoke;
}
.sidenav .closebtn {
    color: black;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hidden {
    display: none;
}

.menu {
    position:fixed;
    left: 0px;
    top: 0px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 15px;
    white-space: nowrap;
    position: center;
}
thead{
    background-color: #DD4444;
}
th, td {
    text-align: center;
    padding: 8px;
    width: 20%;
}
tr:nth-child(even){background-color: #ffbbbb}

p {
    position: fixed;
    width: 60%;
    left: 20%;
}